.sc-full-card-slider {

    &__container {
        padding: 14px;
        @media screen and (max-width: 480px) {
            padding: 0;
        }
    }

    &__item {
        font-family: intro-regular;
        border-radius: 25px;
        background: white;
        padding: 45px 15%;
        box-shadow: 1px 3px 7px 2px rgba(206, 206, 206, 0.5);
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (max-width: 480px) {
            padding: 25px 15px;
        }
        
    }
    &__title {
        font-family: intro-bold;
        text-align: left;
        margin-top: 27px;

        @media screen and (max-width: 480px) {
            text-align: center;
        }
    }
    &__img {
        text-align: center;
        width: 50%;
        flex: 1 1 50%;
        img {
            width: 100%;
            @media only screen and (max-device-width : 768px) {
                width: 50%;
            }
        }
    }
    &__content {
        text-align: center;
        margin-top: 15px;
        flex: 1 1 50%;
        padding-left: 40px;

        @media only screen and (max-device-width : 768px) {
            flex: 1 1 100%;
            padding-left: 0;
        }

        &-inner {
            p {
                text-align: left;
                @media screen and (max-width: 480px) {
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
    }

    &__btn-next, &__btn-prev {
        position: absolute;
        top: 50%;
        width: 32px;
        height: 32px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid #203c75;
        border-radius: 100%;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        color: #203c75;
    }

    &__btn-next {
        right: -50px;
        background-image: none;
        padding-left: 7px;

        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            right: 40px;
        }
    }

    &__btn-prev {
        left: -50px;
        background-image: none;
        padding-right: 7px;

        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            left: 40px;
        }
    }

    &__pagination {
        left: 0;
        right: 0;
        position: relative;
        margin-top: 25px;

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 100%;
            border: 2px solid #cdcdcd;
            background: transparent;
            opacity: 1;
            margin: 0 7px;
            position: relative;

            &-active:after {
                content: "";
                display: block;
                position: absolute;
                top: 1px;
                left: 1px;
                right: 1px;
                bottom: 1px;
                background: #0ea34a;
                border-radius: 100%;
            }
        }
    }

    &__participate-btn {
        background: #0ea34a;
        padding: 5px 25px;
        border-radius: 2004px;
        font-family: intro-bold;
        color: white;
        font-size: 25px;
        width: 70%;
        margin-top: 30px;
        box-shadow: 1px 5px 12px 5px rgba(206, 206, 206, 0.5);
        
        &:hover {
            text-decoration: none;
            color: white;
            opacity: .7;
        }
    }

    &__read-more-btn {
        color: #0ea34a;
        align-self: flex-end;
        font-weight: bold;
        font-size: 17px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 480px) {
            align-self: center;
        }

        &:hover {
            text-decoration: none;
            opacity: .7;
        }

        i {
            margin-left: 10px;
        }
    }

    .swiper-slide {
        height: auto;
    }
}