.sc-logged-in-widget {
  &__photo-contest-form {
    label[for="photo-contest-upload"] {
      width: 100%;
      
      &:before {
        content: "";
        background-image: url(../images/upload-photo-placeholder.png);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        border: 1px solid green;
        display: block;
        border-radius: 7px;
        margin-bottom: 14px;
      }

      &:after {
        content: "Max file size: 10MB, Max resolution: 1234 x 1234 pixel";
      }

    }

    .contest-form-upload {
      display: none;
    }

    input[type="text"], textarea {
      width: 100%;
      border: 1px solid #cecece;
      padding: 7px;
    }

  }
}
