.sc-logged-in-widget {
  .input-wrapper {
    margin-bottom: 20px;
  }
  &__photo-contest-form {
    .container-small {
      max-width: 450px;
      margin: 0 auto;
    }
    button.close {
      width: 30px;
      height: 30px;
      background: #BB3135;
      opacity: 1;
      color: white;
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      float: none;
      margin-left: auto;

      &:hover {
        color: white;
      }
    }

    label[for="photo-contest-upload"] {
      width: 100%;
      cursor: pointer;
      background-size: cover;
      background-image: url(../images/upload-photo-placeholder.png);
      background-repeat: no-repeat;
      height: 200px;
      border-radius: 7px;
      
      &:before {
        content: "";
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        border: 1px solid green;
        display: block;
        border-radius: 7px;
        margin-bottom: 14px;
      }

      &:after {
        content: "Max file size: 10MB, Max resolution: 1234 x 1234 pixel";
      }

    }

    .contest-form-upload {
      display: none!important;
    }

    input[type="text"], textarea {
      width: 100%;
      border: 1px solid #cecece;
      padding: 7px;
      border-radius: 7px;
    }

    input[type="submit"] {
      margin: 0 auto;
      background: #4BA054;
      border: 0;
      text-transform: capitalize;
      color: white;
      font-size: 17px;
      font-family: intro-bold;

      &:hover {
        color: white;
        opacity: .7;
      }
    }

  }
}
