.sc-subscribe-form {

    .bebostore-subcribe .mc4wp-form-fields {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        color: black;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;

        input {
            &[type="email"] {
                padding: 10px 20px;
                border-radius: 20px;
                background: white;
                margin-bottom: 14px;
                text-align: center;
                font-family: intro-regular;
            }
            
            &[type="submit"] {
                font-family: intro-bold, sans-serif;
                background: #1386c8;
                color: white;
            }
        }
    }

    .mc4wp-response > * {
        padding: 10px;
        border: 2px solid black;
        margin-top: 7px;
        font-family: intro-bold;

        p {
            margin: 0;
        }
    }

}

#overlap-row-yellow-desktop .book-subcribe-form form input[type="email"] {
    transform: none;
    top: inherit;
}


section#wave-blue-bg .book-subcribe-form form input[type="submit"] {
    padding-right: 10px;
    height: auto;
    transform: none;
    top: inherit;
}