.sc-subscribe-form {

    .form-subscribe {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        > * {
            flex: 1 1 100%!important;
        }

        .subcribe-title {
            font-size: calc(3.5vh + 1rem);
            color: #f4f7da;
        }

        h6.subcribe-message {
            font-weight: 600;
            color: #f4f7da;
            text-transform: capitalize;
        }
    }

    .bebostore-subcribe .mc4wp-form-fields {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        border: 2px solid #000000;
        border-radius: 50px;
        padding: 10px;
        color: black;
    }

    .mc4wp-response > * {
        padding: 10px;
        border: 2px solid black;
        margin-top: 7px;
        font-family: intro-bold;

        p {
            margin: 0;
        }
    }

}

#overlap-row-yellow-desktop .book-subcribe-form form input[type="email"] {
    transform: none;
    top: inherit;
}


section#wave-blue-bg .book-subcribe-form form input[type="submit"] {
    padding-right: 10px;
    height: auto;
    transform: none;
    top: inherit;
}