.sc-store {
    .store-title {
        margin-bottom: 0;
            border-bottom: 1px solid #f07c29;
    }
    .store-address {
        > * {
            padding: 15px 0;
            border-bottom: 1px solid #f07c29;
            &:last-child {
                border: none;
            }
        }

        ul.socials-block {
            list-style: none;
            padding-left: 0;
            display: flex;
            justify-content: center;

            li {
                padding: 0 15px;
                font-size: 1.2rem;

                a:link,
                a:visited {
                    color: #f07c29
                }
            }
        }
    }
}