.sc-woocategory {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-left: -15px;
    margin-right: -15px;

    &__item {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;

        @media screen and (max-width: 768px) {
            margin-top: 15px;
            &:nth-child(even) {
                padding-left: 0;
            }
        }
        &.col-md-5:before {
                content: '';
                position: absolute; 
                top: 20px;
                margin-right: 20px;
                left: 0%;
                right: 0;
                bottom: -30px;
                display: block;
                background-size: contain;
                background-image: url(../images/square-dots.png);
                @media only screen and (max-width: 768px) {
                    background-image: url(../images/mobile-square-dots.png);
                    left: 7px;
                    bottom: -10px;
                }

        }
        &.col-md-7 {
            .category-image {
                position: static;
            }
            &:before {
                content: '';
                position: absolute;
                top: 20px;
                margin-right: 20px;
                left: 0%;
                right: 0;
                bottom: -30px;
                display: block;
                background-size: contain;
                background-image: url(../images/long-dots.png);
                @media only screen and (max-width: 768px) {
                    background-image: url(../images/mobile-long-dots.png);
                    left: 7px;
                    bottom: -10px;
                }

            }
        }
        > a {
            display: block;
            background: #e22f3d;
            height: 100%;
            position: relative;

            span.category-name {
                color: #ECE8DD;
            }

        }

        .category-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            .cat-image {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .category-info {
            font-size: 32px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            /* bottom: 0; */
            transform: translateY(-50%);

            @media only screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }

        &.col-md-5 {

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            > a {
                width: 100%;
                height: 100%;
            }
        }
    }
}