.book-detail-container {
    margin: 0 auto;
    background: white;
    margin: 10px;
    @media screen and (min-width: 576px) {
        
        max-width: 560px;
        
    }
    @media screen and (min-width: 768px) {
        margin: auto;
        padding: 70px 40px;
        max-width: 740px;
        
    }
    @media screen and (min-width: 992px) {

        max-width: 980px;
        
    }
    @media screen and (min-width: 1200px) {

        max-width: 1170px;
        
    }
}

.detail-book {
    @media screen and (max-width: 768px) {
        padding: 20px 0;
    }
} 
.woocommerce {
    div.product {
        .book-detail {

            .bk-list {
                padding: 60px;
                border: 1px solid #989898;
            }

            form.cart {
                display: flex;
                justify-content: space-between;

                @media screen and (min-width: 768px) {

                    display: inline-block;
                    
                }

                button {
                    border-radius: 0;
                    &.button {
                        padding: 0 30px;
                        background: #DF713A;
                        border: none;

                        @media screen and (min-width: 768px) {
                            padding: 0 20px;
                        }
                        @media screen and (min-width: 1024px) {
                            padding: 0 7px;
                        }
                        @media screen and (min-width: 1200px) {
                            padding: 0 30px;
                        }
                    }
                    &:before {
                        content: none;
                    }
                }
                .quantity {
                    display: inline-block;
                    float: none;
                    width: auto;
                    height: 40px;
                    padding-bottom: 0;
                    margin-right: 20px;

                    .book-quanlity {
                        color: #858585;
                        margin-right: 21px;
                    }
                    input[type="number"] {
                        border-radius: 0;
                        min-width: 0;
                        width: auto;
                        height: 100%;
                    }
                }
                .button {
                    float: none;
                }
            }
            .woocommerce-product-gallery__image {
                width: calc(25% - 10px);
                flex: 1 1 auto;
                border: 1px solid #989898;
                margin: 20px 5px;
                
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                @media screen and (min-width: 992px) {
                    padding: 20px;
                }
            }
            .single-button-wishlist {
                display: inline-block;
                margin-left: 20px;

                @media screen and (max-width: 768px) {
                    margin-top: 20px;
                    .yith-wcwl-add-to-wishlist .ajax-loading {
                        display: block!important;
                    }
                }

                .yith-wcwl-add-to-wishlist {
                    position: static;
                    a {
                        @media screen and (min-width: 768px) {
                            padding-left: 15px;
                            &:before {
                                content: "\e610";
                                font-family: 'Beau-Theme-Icon';
                                font-size: 1.07692em;
                                position: absolute;
                                left: 50%;
                                right: auto;
                                -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                                color: rgba(0, 0, 0, 0.3);
                                left: 0;
                            }
                        }

                        &:after {
                            content: "";
                            background-color: rgba(0, 0, 0, 0.1);
                            bottom: -10px;
                            
                            @media screen and (min-width: 768px) {
                                left: -5px;
                                width: calc(100% + 10px);
                                
                            }

                        }

                    }
                    
                }

                .book-item-detail {
                }
            }

            .tagged_as, 
            .category_as {
                font-family: 'Korina';
                font-weight: 700;
                font-style: italic;
                text-transform: capitalize;
                color: #858585;
                margin-bottom: 7px;
                a {
                    color: #858585;
                }
            }
            .single-taxonomies-section {
                margin-top: 15px;
                @media screen and (min-width: 768px) {
                    margin-top: 35px;
                }
            }

        }

        .about-this-book {
            h5 {
                font-family: 'Work Sans';
                font-weight: 600;
                display: inline-block;

                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }
            .heading-box {
                border-bottom: 1px solid black;
            }
            .heading-details {
                margin-bottom: 20px;
                > * {
                    &:first-child {
                        .heading-box {
                            @media screen and (min-width: 768px) {
                                margin-right: -15px;
                            }

                            h5 {
                                position: relative;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    right: -15px;
                                    left: 0;
                                    border-bottom: 3px solid #DF713A;
                                    bottom: calc(-0.5rem - 2px);
                                }
                            }
                        }
                    }
                    &:last-child {
                        .heading-box {
                            margin-left: -15px;
                            padding-left: 15px;
                        }
                    }
                }
            }
            .details-content {
                @media screen and (max-width: 768px) {
                    .heading-box {
                        h5 {
                            position: relative;
                            &:after {
                                content: "";
                                position: absolute;
                                right: -15px;
                                left: 0;
                                border-bottom: 3px solid #DF713A;
                                bottom: calc(-0.5rem - 2px);
                            }
                        }
                    }
                }
                .name-author {
                    font-family: 'Korina';
                    font-style: italic;
                    font-weight: 500;
                    color: #858585;

                    a {
                        margin-left: 15px;
                        font-family: 'Work Sans';
                        font-style: normal;
                        font-size: 15px;
                    }
                }
                .detail-desc {
                    strong {
                        font-family: 'Korina';
                        font-style: italic;
                        font-weight: 500;
                        color: #858585;
                        line-height: 2;
                    }
                    span {
                        font-family: 'Work Sans';
                        font-weight: 600;
                        line-height: 2.5;
                    }
                }
                .description {
                    margin-top: 20px;
                }
                .book-desc {
                    p {
                        line-height: 1.7;
                    }

                }
            }
        }

    }
    .book-item-detail {
        .product-status {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;

            @media screen and (min-width: 768px) {
                margin-top: 70px;
            }
            
            .single-price {
                flex: 1 1 75%;
                padding: 20px;
                display: flex;
                justify-content: center;
                border-right: 2px dashed #cecece;
            }
    
            p.price {
                min-height: auto;
                margin-bottom: 0;
            }
            p.stock {
                margin-bottom: 0;
                flex: 1 1 25%;
                text-align: center;
                font-family: 'Korina';
                font-style: italic;
                font-weight: 600;
                color: #858585;
            }
        }
    }
    .feature-section {
        background: #D04144;
        padding: 85px 0;
        @media screen and (max-width: 768px) {
            padding: 40px 0;
        }
        .related.products {
            .title-box {
                float: none;
                position: relative;
                text-align: center;
    
                &:after {
                    content: none;
                }
    
                span {
                    float: none;
                    position: relative;
                    display: inline-block;
                    width: auto;
                    color: #F4F6DC;
    
                    &:after {
                        content: "";
                        width: 80%;
                        height: 3px;
                        background: #F4F6DC;
                        display: block;
                        margin-top: 20px;
                        margin: 20px auto 0;
                    }
                }
            }
            .products {
                display: flex;
                padding-left: 0;
    
                li.product {
                    text-align: center;
                    list-style: none;
                    .book-item {
                        margin: 0 auto;
                        float: none;
                    }
                    .book-info {
                        span.book-name {
                            font-family: 'Work Sans';
                            font-size: 1rem;
                            margin-top: 35px;
    
                            a {
                                color: #F4F6DC;
                            }
                        }
                        span.book-author {
                            color: #F4F6DC;
                            a {
                                color: #F4F6DC;
                            }
                        }
                        span.book-price {
                            font-family: 'goudy-heavyface';
                            font-weight: 700;
                            font-style: normal;
                            color: #F4F6DC;
                            margin-top: 20px;
                        }

                    }
                }
            }
        }
    }
    
}
