.woocommerce-cart {
    .entry-header {
        display: none;
    }
    .title-page {
        text-align: center;
        h4 {
            display: inline-block;
            &:after {
        
                content: "";
                width: 80%;
                height: 3px;
                background: black;
                display: block;
                margin-top: 20px;
                margin: 20px auto 0;
            }
        }
    }
    .shopping-cart .shop_table {
        thead tr th {
            font-style: normal;
        }
        tbody {
            .product-info-name a {
                font-weight: 700;
                font-size: 1rem;
            }
            tr {
                margin-left: 0;
                margin-right: 0;
            }
            .quantity {
                position: relative;
                input {
                    padding: 0px;
                    font-size: 14pt;
                    border: solid 0.5px #000;
                    z-index: 1;
                    margin-bottom: 0;
                    width: 100%;
                    padding-right: 7px;
                  }
                  
                  .spinner-button {
                    position: absolute;
                    cursor: default;
                    z-index: 2;
                    background-color: white;
                    width: 20px;
                    text-align: center;
                    margin: 0px;
                    pointer-events: none;
                    height: 20px;
                    line-height: 20px;
                    border-left: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: #f07c29;
                    }
                  }
                  
                  #inc-button {
                    right: 1px;
                    top: 1px;
                  }
                  
                  #dec-button {
                    right: 1px;
                    bottom: 1px;
                    border-top: 1px solid black;
                  }
              }
              
            .product-remove a {
                font-size: 20px;
            }
        }
        tfoot tr {
            td {
                &.product-price {
                    text-align: center;
                }
                &.product-coupon {
                    .input-coup-on {
                        display: flex;
                    }
                    .input-text {
                        border: 1px solid black;
                        padding: 0 20px;
                        width: 50%;
                        font-family: 'Work Sans';
                        font-weight: 500;
                    }
                    input[type="submit"] {
                        border-radius: 0;
                        border: 1px solid black;
                        border-left: none;
                        width: 50%;
                        font-size: 12px;
                        font-weight: 700;
                        font-family: 'Work Sans';
                    }
                }

            }

            &.update-cart {
                input[type="submit"] {
                    border-radius: 0;
                    border-width: 1px;
                }
                .checkout-button {
                    display: inline-block;
                    height: 40px;
                    border: 1px solid transparent;
                }
            }

            &.woocommerce-shipping-totals {
                .woocommerce-shipping-destination {
                    font-family: 'Work Sans';
                    margin-bottom: 0;
                    font-weight: 400;
                    margin-left: 15px;
                }
                .woocommerce-shipping-methods {
                    margin-bottom: 0;
                    font-family: 'Work Sans';
                    font-weight: 400;
                }
            }

            .woocommerce-remove-coupon {
                display: block;
                font-family: 'Work Sans';
                font-weight: 400;
            }

            &.total-cart-preview {
                font-size: 1rem;
            }


        }
    }
}