.book-detail-container {
    margin: 0 auto;
    background: white;
    padding: 70px 40px;
    @media screen and (min-width: 576px) {

        max-width: 560px;
        
    }
    @media screen and (min-width: 768px) {

        max-width: 740px;
        
    }
    @media screen and (min-width: 992px) {

        max-width: 980px;
        
    }
    @media screen and (min-width: 1200px) {

        max-width: 1170px;
        
    }
}
.woocommerce {
    div.product {
        .book-detail {
            form.cart {
                margin-top: 3em;
                display: inline-block;


                button {
                    border-radius: 0;
                    &.button {
                        padding: 0 30px;
                        background: #DF713A;
                    }
                    &:before {
                        content: none;
                    }
                }
                .quantity {
                    display: inline-block;
                    float: none;
                    width: auto;
                    height: 40px;
                    padding-bottom: 0;
                    margin-right: 45px;

                    .book-quanlity {
                        color: #858585;
                        margin-right: 21px;
                    }
                    input[type="number"] {
                        border-radius: 0;
                        min-width: 0;
                        width: auto;
                        height: 100%;
                    }
                }
                .button {
                    float: none;
                }
            }

            .single-button-wishlist {
                display: inline-block;
                margin-left: 20px;
                .yith-wcwl-add-to-wishlist {
                    position: static;
                    a {
                        padding-left: 15px;
                        &:before {
                            content: "\e610";
                            font-family: 'Beau-Theme-Icon';
                            font-size: 1.07692em;
                            position: absolute;
                            left: 50%;
                            right: auto;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                            color: rgba(0, 0, 0, 0.3);
                            left: 0;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: -10px;
                            height: 2px;
                            width: calc(100% + 10px);
                            background-color: rgba(0, 0, 0, 0.1);
                            left: -5px;
                        }

                    }
                    
                }

                .book-item-detail {
                }
            }

        }

    }
    .book-item-detail {
        .product-status {
            margin-top: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            
            .single-price {
                flex: 1 1 75%;
                padding: 20px;
                display: flex;
                justify-content: center;
                border-right: 2px dashed #cecece;
            }
    
            p.price {
                min-height: auto;
                margin-bottom: 0;
            }
            p.stock {
                margin-bottom: 0;
                flex: 1 1 25%;
                text-align: center;
                font-family: 'Korina';
                font-style: italic;
                font-weight: 600;
                color: #858585;
            }
        }
    
    
    }    
}
